.add-alarms-full-width .disclaim {
  padding-top: 10px;
  opacity: .5
}


.add-alarms-container {
  display: flex;
  margin: 100px auto 0;
  width: 800px;
  
  justify-content: space-evenly;
  justify-self: center;
}

.add-alarms-heading h1 {
  padding: 10px 0;
}

.add-alarms-forms-bg {
  width: 344px;
  height: 444px;
  /* border: 2px solid red; */
  background: #FFFFFF;
  border: 1px solid #B6B5B5;
}

.add-alarms-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-bottom: 10px;
}

.choose-alarm {
  text-indent: 10px;
  /* margin-top: 35px; */
  width: 320px;
  height: 43px;
  margin-bottom: 20px;
  background: #ffffff !important;
  color: black !important;
  border: 1px solid #9c9c9c !important;
  border-radius: 3px 3px 3px 3px !important;
  box-shadow: none !important;
}
.choose-alarm-dropdown {
  background: #ffffff !important;
  color: black !important;
  border: 1px solid #9c9c9c !important;
  border-radius: 3px 3px 3px 3px !important;
  box-shadow: none !important;
}

.choose-alarm:focus {
  outline: 2px solid #86b2dd !important;
}

.repeats {
  text-indent: 4px;
  /* margin-top: 35px; */
  width: 320px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #9c9c9c;
  border-radius: 3px 3px 3px 3px;
}

.add-alarms-btn {
  width: 200px;
}