.alarms-container { 
  position: absolute;
  width: 495px;
  height: 516px;
  left: 463px;
  top: 113px;
  background: #FFFFFF;
  border: 1px solid #B6B5B5;
  box-sizing: border-box;
}

.alarms-list {
  position: absolute;
  width: 344px;
  height: 244px;
  left: 539px;
  top: 166px;
  
  background: #FFFFFF;
  border: 1px solid #B6B5B5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.alarm-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid blue;
}

.hide-modal {
  display: null;
}