.home-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../img/homepagebackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
.home-container-home {
  height: 100vh;
  width: 100vw;
  background-image: url("../../img/homepagebackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.buttons-settings {
  background: linear-gradient(rgb(249, 117, 34, 0.75), rgb(249, 117, 34, 0.75));
  color: #ffffff;
  border: 1px solid;
  padding: 40px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin-right: 5%;
  margin-bottom: 30px;
  cursor: pointer;
  transition: padding 0.2s ease-in-out;
}
.buttons {
  margin-right: 5%;
}
.editSettings {
  padding-top: 25px;
  width: 100%;
}
.editSettingsPassword {
  padding-top: 25px;
  width: 100%;
  display: flex;
  width: 75%;
  padding-left: 1%;
}
.editsettingstext {
  color: #ffffff;
  font-weight: bolder;
}
.editsettingstextZip {
  color: #ffffff;
  font-weight: bolder;
  padding-top: 15px;
  padding-right: 2%;
}
/* .email-input {
  margin-right: 5%;
} */
.buttons-settings:hover {
  background: linear-gradient(rgb(249, 117, 34, 0.75), rgb(249, 117, 34, 0.75));
  color: #ffffff;
  border: 1px solid;
  padding: 41px;
  font-size: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.5), 0 15px 12px rgba(0, 0, 0, 0.5);
  margin-right: 5%;
  margin-bottom: 30px;
  cursor: pointer;

  transition: box-shadow 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.sidebar {
  width: 300px;
  height: 500px;
  outline: 3px solid #f1e7e8;
  padding: 2%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: flex-start;
  background: linear-gradient(rgb(249, 117, 34, 0.75), rgb(249, 117, 34, 0.75));
}
.mealsRecipe-Container {
  display: flex;
  flex-direction: column;
}
.alert-box2 {
  margin-top: 1%;
  width: 95%;
}
.alert-box3 {
  margin-top: 1% auto;
  width: 100%;
}
.flex-me {
  display: flex;
  flex-flow: column;
  margin-top: 2%;
}
.flex-me-settings {
  display: flex;
  flex-flow: column;
  margin-top: 2%;
  width: 100%;
}
.recentMeals {
  font-size: 36px;
  background: linear-gradient(rgb(249, 117, 34, 0.75), rgb(249, 117, 34, 0.75));
  color: #ffffff;
  border: 1px solid;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.recentMealsZip {
  font-size: 36px;
  background: linear-gradient(rgb(249, 117, 34, 0.75), rgb(249, 117, 34, 0.75));
  color: #ffffff;
  border: 1px solid;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.mealDisplay-Flex {
  display: flex;
}
.MealDisplay {
  width: 360px;
  height: 320px;
  margin: 2%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.43);
  border-radius: 1px;
}
.footer-line {
  border: 0.3px solid #000000;
}
.MealDisplay:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}
.titlelinks {
  display: flex;
  justify-content: flex-end;
  line-height: 1.2em;
  color: #f1e7e8;
  padding: 5%;
}
.meal-city {
  margin-top: 25px !important;
}
.meal-experience {
  padding-bottom: 20px;
  padding-top: 15px;
  margin: 30px 70% 0 0;
  font-size: 40px;
}
.recipe-card-header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 80px;
}
.recipe-experience {
  font-weight: bolder;
}
.meal-card-footer {
  bottom: 0;

  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-left: 5%;
  padding-right: 5%;
}

.in-app-links {
  text-decoration: none;
}

.titlelinks:hover {
  font-weight: 600;
  color: #a3cea0;
}

.dynamic-display {
  margin-top: 10%;
  padding-right: 30%;
}
.dynamic-display-home {
  margin-top: 2%;
  padding-right: 30%;
}
.dynamic-display-home-meals {
  width: 95%;
}
.dynamic-display-home-settings {
  width: 95%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgb(249, 117, 34, 0.75), rgb(249, 117, 34, 0.75));
  padding-top: 20px;
  margin-top: 50px;
  padding-left: 2%;
}
.example {
  background: lightblue;
}

.danger {
  margin-top: 5%;
}
