.Settings-Options-Container {
  width: 200px;
  height: 325px;
  background-color: #242424;
  border: 1px solid #2f9dfe;
  margin: 100px auto;
}
.settings-text {
  margin-top: 10px;
  color: white;
}

.settings-option {
  margin: 35px auto 0;
  width: 100px;
  height: 51px;
  color: white;
  border: 1px solid white;
  background-color: #242424;
  cursor: pointer;
}
.settings-option:hover {
  border: 1px solid white;
  background-color: #2f9dfe;
}
.settings-zip-save {
  margin: 35px auto 0;
  width: 100px;
  height: 51px;
  border: 1px solid white;
  background-color: #242424;
  cursor: pointer;
}
.settings-password-save {
  margin: 35px auto 0;
  width: 100px;
  height: 51px;
  border: 1px solid white;
  background-color: #242424;
  cursor: pointer;
}
.settings-zip-save:hover {
  border: 1px solid white !important;
}
.Settings-Zip-Container {
  width: 495px;
  height: 398px;
  background-color: #242424;
  border: 1px solid #2f9dfe;
  margin: 100px auto;
}
.settings-zip-form {
  margin-top: 30px;
}
.settings-password-form {
  margin-top: 30px;
}
.alert-box-settings {
  width: 100%;
}
.settings-text-anchor {
  margin-top: 20px !important;
}
