
.weather-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 600px;
    height: 300px;
    outline: 3px solid #F1E7E8;
    background: linear-gradient(
        rgb(145, 14, 20, .50), 
        rgb(145, 14, 20, .50));
}