.user-form-container-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  margin-top: 5%;
  width: 318px;
  height: 560px;
  border: #9c9c9c;
  border-radius: 12px;
}

.login-title {
  color: black;
  font-weight: bold;
  font-size: 3.8em;
  padding-top: 10px;
  padding-bottom: 55px;
  font-family: "Allan", cursive;
}

.form-group-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.form-group-login:hover {
  border: #8c8c8c;
}

input {
  width: 250px;
  height: 50px;
  font-size: 12px;
  background: #ffffff;
  border-width: 1px;
  border-color: #9c9c9c;
}

label {
  font-weight: bold;
  text-align: left;
}

.return-login {
  padding-top: 20px;
}

.login-login {
  color: #ffffff;
  width: 250px;
  font-size: 25px;
  height: 50px;
  padding-top: 14px;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 30px;
  cursor: pointer;
  background-color: #267cfc;
}

.login-login:hover {
  background-color: #0166fe;
}

.signuptext {
  padding-top: 20px;
  color: black;
  font-size: 20px;
}

.login-button {
  width: 250px;
  height: 64px;
  padding-bottom: 20px;
  border-width: 1px;
  border-color: black;
  color: black;
}

.applebadge {
  width: 211px;
  height: auto;
  margin-top: 20px;
}

.existinguser {
  padding-top: 25px;
  font-weight: bold;
}
.loader {
  display: block;
}
.loading {
  margin: 20px;
}
.isLoading {
  margin: 10% auto;
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5));
}
.alert-box {
  margin-top: 11%;
}
