.single-meal-container {
  display: flex;
  margin: 100px auto 0;
  width: 800px;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.single-meal-heading {
  border-bottom: 1px solid #29fdfe;
}

.single-meal-heading h1 {
  padding: 10px 0;
  color: white;
  margin-bottom: 0;
}

.single-meal-heading h3 {
  margin: 0;
}

.single-meal-bg {
  width: 344px;
  height: 444px;
  background: #242424;
}