.MealDisplay {
  width: 360px;
  height: 320px;
  margin: 2%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 1px;
}

.MealDisplay:hover {
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.meal-card-footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-left: 5%;
  padding-right: 5%;
}
.meal-city {
  margin-top: 25px !important;
}
.meal-experience {
  padding-bottom: 20px;
  padding-top: 15px;
  margin: 30px 70% 0 0;
  font-size: 40px;
}
