.landing-page-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.jumbotron-container {
  width: 100%;
  height: 565px;
  max-width: 900px;
  margin: 0 auto;
}
.jumbotron-img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #bdbdbd;
}
.login-signup-container {
  width: 80%;
  margin: -250px auto;
  position: relative;
  height: 250px;
  background: white;
  z-index: 1;
  border-radius: 5px;
  border-bottom: 1px solid #bdbdbd;
  display: flex;
  flex-direction: column;
}

.cta-top-content {
  display: flex;
  flex-direction: row;
}

.cta-container {
  display: flex;
  height: 65%;
  box-sizing: border-box;
  padding: 20px;
}

.cta-container h2 {
  font-size: 40px;
  width: 80%;
  text-align: left;
  font-family: "Roboto", sans-serif;
}
.signup-login-buttons-lp {
  margin-right: 10px;
  padding-top: 15px;
  
}
.signup-login-buttons-lp p {
  font-size: 20px;
  font-family: "Roboto", sans-serif
}

.buttons-lp {
  width: 150px;
  height: 50px;
  color: #ffffff;
  font-size: 15px;
  margin: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #242424;
  border: none;
  font-family: "Roboto", sans-serif;
}

.buttons-lp:hover {
  background-color: #2f9dfe;
  border: 1px solid #2f9dfe;
}
.cta-bottom-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.real-housewives-quote {
  width: 65%;
  z-index: 1;
  margin-top: 120px;
  /* margin-left: 135px; */
  background: #2f9dfe;
  /* border: 1px solid blue; */
  border-radius: 5px;
  height: 65px;
  padding: 10px;
}
.real-housewives-quote p {
  color: white;
  margin: 0;
}
.landingpage-buttons {
  display: flex;
  justify-content: space-around;
}

/* == Product Section == */

.info-container-one {
  width: 100%;
  height: auto;
  background: #ffffff;
  margin: 35% auto 0;
  border: 1px solid #b6b5b5;
  display: flex;
}

.info-container-two {
  width: 100%;
  height: auto;
  background: #ffffff;
  margin: 15% auto 0;
  border: 1px solid #b6b5b5;
  display: flex;
}

.info-container-three {
  width: 100%;
  height: auto;
  background: #ffffff;
  margin: 15% auto 35%;
  border: 1px solid #b6b5b5;
  display: flex;
}

.image-info-container {
  width: 100%;
  height: auto;
}
.image-info {
  width: 50%;
  height: 350px;
}

.card-body {
  width: 100%;
 
  border: 1px solid lime;
}

.header-card {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-around;
  background: #242424;
}
.header-card p {
  color: white;
  font-family: "Allan", cursive;
  font-size: 50px;
}

.info-text-two {
  color: #242424;
  font-family: "Roboto", sans-serif;
  font-size: 46px;
  margin-left: 3%;
  margin-top: 17px !important;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.image-holder {
  width: 92px;
  height: 92px;
  background: #d6dff2;
  border-radius: 50%;
  margin-top: 11px;
}

.image-info-image {
  margin: 12px auto;
}
.card-body-text-container {
  width: 100%;
}
.card-body-text-container-two {
  width: 80%;
  margin-left: 23%;
}
.card-body-text {
  color: #242424;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 25px;
}

.card-body-text .extra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #2f9dfe;
  margin-top: 40px;
  border-radius: 5px;
  padding: 5px;
}

.card-body-text .extra .tip-header {
  /* border: 1px solid lime; */
  margin: 0;
  font-size: 35px;
  font-family: "Allan", cursive;
}

.card-body-text .extra .tip {
  width: 75%;
  border-radius: 5px;
  padding: 5px;
  /* border: 1px solid #2f9dfe; */
  /* margin-left: 85px; */
}

.card-body-text .extra p {
  font-size: 15px;
  text-align: right;
  padding: 10px;
  /* margin-top: 40px; */
}

.pricing {
  padding-top: 150px;
  margin-top: -250px;
  margin-bottom: 150px;
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #f2f2f2;
  padding: 0;
  /* maring: 0; */
}

#price {
  text-align: center;
}

.plan {
  display: inline-block;
  margin: 10px 1%;
  font-family: "Lato", Arial, sans-serif;
}

.plan-inner {
  background: #fff;
  margin: 0 auto;
  min-width: 350px;
  max-width: 100%;
  position: relative;
}

.entry-title {
  background: #67b6fc;
  height: 140px;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.entry-title > h3 {
  background: #2f9dfe;
  font-size: 20px;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.entry-title .price {
  position: absolute;
  bottom: -25px;
  background: #2f9dfe;
  height: 95px;
  width: 95px;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid #fff;
  line-height: 80px;
  font-size: 28px;
  font-weight: 700;
}

.price span {
  position: absolute;
  font-size: 9px;
  bottom: -15px;
  left: 20px;
  font-weight: 400;
}

.entry-content {
  color: #242424;
}

.entry-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.entry-content li {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
}

.entry-content li:last-child {
  border: none;
}

.btn {
  margin-top: 8px;
  margin-bottom: -5px;
  text-align: center;
}

.btn a {
  background: #242424;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  border-radius: 30px;
  margin-top: 15px;
}

.btn a:hover {
  background: #4cb944;
  text-decoration: none;
  color: #fff;
}

.free-btn {
  /* padding: 1em 0; */
  margin-top: 15px;
  text-align: center;
}

.free-btn a {
  background: #f80;
  padding: 10px 30px;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  border-radius: 30px;
}

.free-btn a:hover {
  text-decoration: none;
  color: #fff;
}
.hot {
  position: absolute;
  top: -7px;
  background: #f80;
  color: #fff;
  text-transform: uppercase;
  z-index: 1;
  padding: 2px 5px;
  font-size: 9px;
  border-radius: 2px;
  right: 10px;
  font-weight: 700;
}
.basic .entry-title {
  background: #5ddb53;
}

.basic .entry-title > h3 {
  background: #4cb944;
}

.basic .price {
  background: #4cb944;
}

/* Three columns side by side */
.team-column {
  float: left;
  width: 33.33%;
  height: auto;
  margin-bottom: 16px;
  padding: 20px 60px 20px 60px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .team-column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.1);
  height: 300px;
}

/* Some left and right padding inside the container */
.team-container {
  padding: 0 16px;
}

/* Clear floats */
.team-container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  margin-top: 50px;
}

.contact-button {
  border: none;
  outline: 0;
  display: inline-block;
  margin-top: 50px;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
}

.contact-button:hover {
  background-color: #2f9dfe;
}

/* .button-container {
  margin-top: 5px;
  width: 194px;
  height: 54px;
} */
/* .button {
  background: #2f9dfe;
  border-radius: 30px;
  width: 100%;
  height: auto;
  border: none;
  cursor: pointer;
}
.button:hover {
  background: #242424;
  width: 100%;
  height: auto;
  border: none;
  cursor: pointer;
}
.button-text {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #ffffff;
} */