@media screen and (max-width: 650px) {
  .jumbotron-image {
    margin-top: 15px
  }
  
  .login-signup-container {
    margin: -325px auto;
  }

  .signup-login-buttons-lp p {
    font-size: 15px;
  }

  .buttons-lp {
    width: 125px;
  }
}