.user-form-container-zip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin-top: 5%;
  width: 318px;
  height: 465px;
  border: #9c9c9c;
  border-radius: 12px;
}

.signupzip {
  color: #ffffff;
  width: 250px;
  font-size: 25px;
  font-weight: 900;
  height: 50px;
  padding-top: 14px;
  padding-left: 5px;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #242424;
}

.signupzip:hover {
  background-color: #0166fe;
}

.signup-return {
  color: #242424;
}
.signup-return:hover {
  color: #0166fe;
}

.qmark {
  height: 20px;
  width: auto;
  margin-left: 10px;
}

.zip-explain {
  color: #242424;
}

.zip-explain:hover {
  color: #0166fe;
}

.applebadgezip {
  width: 150px;
  height: auto;
  margin-top: -30px;
  margin-left: 5px;
}
