.recipe-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  text-align: center;
  background: #f0f0f0;
}
.recipe-link {
  margin: 500px auto 0;
}
.new-recipe-holder {
  margin: 100px auto;
}
.recipe-link2 {
  margin: 50px auto 0;
}
.recipe-input-1 {
  width: 495px;
  height: 534px;
  background: #ffffff;
  border: 1px solid #b6b5b5;
}
.recipe-nutrients-info {
  margin-top: 20px;
  width: 495px;
  height: 241px;
  background: #ffffff;
  border: 1px solid #b6b5b5;
}
.name-recipe {
  width: 343px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #9c9c9c;

  border-radius: 3px 0px 0px 3px;
}
.search-food {
  width: 343px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #9c9c9c;
  margin-top: 20px;
  border-radius: 3px 0px 0px 3px;
}
